@use 'mixin' as *;

body{
    background-color: red;
    @include center;
    flex-wrap: wrap;
}

#teste {
    background-color: blue;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    form {
        @include shape($bg: black)
    }

    section {
        @include shape($bg: green)
    }
}