@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin shape($bg: none) {
    background-color: $bg;
    height: 400px;
    width: 400px;
}

body{
    background-color: red;
    @include center;
    flex-wrap: wrap;
}

#teste {
    background-color: blue;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    form {
        @include shape($bg: purple)
    }

    section {
        @include shape($bg: green)
    }
}