body {
    background-color: rgb(4, 182, 93);
}

#menu {
    border: 1px solid goldenrod;
    width: 1440px;
    height: 84px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin-bottom: 32px;
}

#banner {
    border: 1px solid goldenrod;
    width: 1440px;
    height: 420px;
    background-color: aqua;
    padding: 1px;
    margin-bottom: 32px;
}

#coluna1 {
    border: 1px solid goldenrod;
    width: 1440px;
    height:190px;
    background-color: #D4E9E2;
    padding: 1px;
    margin-bottom: 32px;
}

#coluna2 {
    border: 1px solid goldenrod;
    width: 720px;
    height:420px;
    background-color: #D4E9E2;
    padding: 1px;
    margin-bottom: 32px;
}

#coluna3 {
    border: 1px solid goldenrod;
    width: 720px;
    height:420px;
    background-color: #D4E9E2;
    padding: 1px;
    margin-bottom: 32px;
    margin-left: 723px;
}

#coluna4 {
    border: 1px solid goldenrod;
    width: 720px;
    height:420px;
    background-color: #D4E9E2;
    padding:1px;
    margin-bottom: 32px;
}