body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list{
    display: flex;
    flex-direction: row;
}

.item {
    width: 100px;
    height: 200px;
    background-color: red;
    margin: 2px;
}